<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/c"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http pattern="**" use-expressions="true">
        <http-basic/>
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
<!--        <intercept-url pattern="/index" access="hasRole('ADMIN')"/>-->
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login/>
        <logout
                logout-url="/perform_logout"
                delete-cookies="JSESSIONID"
                invalidate-session="true"
        />
        <!--        <csrf disabled="true"/>-->
    </http>

    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>

  <!--  <http>
        <intercept-url pattern="/login" access="permitAll()"/>
&lt;!&ndash;        <intercept-url pattern="/register" access="isAnonymous()"/>&ndash;&gt;

        <intercept-url pattern="/**/admin/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <form-login login-page="/login" default-target-url="/employees"
                    authentication-failure-url="/login?error=true"
                    login-processing-url="/spring_security_check"
                    username-parameter="username"
                    password-parameter="password" />
        <logout logout-success-url="/login"/>
        &lt;!&ndash;<csrf disabled="true"/>&ndash;&gt;
    </http>-->

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="noopEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>